body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #4f46e5;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 70%;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b82f6;
}

h2 {
  font-size: 1.5rem;
  color: #374151;
  margin-top: 20px;
}

p {
  font-size: 1.2rem;
  color: #6b7280;
  margin: 10px 0;
}

@media (max-width: 480px) {
  .App {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  input {
    width: 65%;
  }

  button {
    padding: 10px 15px;
  }
}
